<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/user.css}">
    <title>List User</title>
</head>
<body>
<a th:href="@{/user/new}">Create User</a>

<table border="1" style="width: 100%;">
  <tr>
    <th style="width: 5px;">STT</th>
    <th style="width: 30px;">Name</th>
    <th style="width: 30px;">Age</th>
    <th style="width: 30px;">Address</th>
    <th style="width: 5px;">Action</th>
  </tr>
  <tr th:each="user : ${users}">
    <td th:text="${userStat.index + 1}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.age}"></td>
    <td th:text="${user.address}"></td>
    <td><a th:href="@{/user/edit/{id}(id=${user.id})}">Edit</a></td>
  </tr>
</table>
</body>
</html>